.container {
  width: 100vw;
  height: 100%;
  /* background-color: #f5eedc; */
  /* background-color: rgba(119, 107, 107, 0.5); */
  /* background-color: rgb(207, 213, 219); */
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
}
.img-cont {
  margin: auto;
  margin-top: 2%;
  height: 40%;
  max-width: 400px;
  position: relative;
}
img {
  width: 200px;
}
.img-cont > img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  object-fit: cover;
  z-index: -1;
  border-radius: 10px;
}
.img-cont > p {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
span {
  font-size: 3em;
  /* color: #173a48; */
  color: #fab909;
  font-weight: bolder;
  /* text-shadow: -16px 5px 15px #02c6e9; */
  text-shadow: -16px 5px 15px #035361;
  transition: all 0.5s ease-in-out;
}
span:hover {
  text-shadow: -16px 5px 15px #fab909;
  color: rgb(129, 124, 124);
}
.name {
  font-size: 2em;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: auto;
  font-family: "Fuzzy Bubbles", cursive;
}
.temp {
  font-size: 2em;
  color: #173a48;
  font-weight: bold;
  margin: 0;
}
.small {
  height: 40%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(255, 255, 255, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(255, 255, 255, 0.09) 0px -3px 5px;
}
.big {
  width: 100vw;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  filter: blur(9.21px);
}
