<div class="container">
  <img class="sun" *ngIf="dayTime" src="assets/sunny2.png" />
  <!-- <img *ngIf="night" class="moon" src="assets/moon.png" /> -->
  <p class="name" [ngClass]="{ 'night-space': night, 'sunny-space': !night }">
    <span [ngClass]="{ changespan: night }"> {{ name }}</span>
  </p>
  <div class="img-cont">
    <img class="small" *ngIf="dayTime" src="assets/day.jpg" />
    <img class="small smallmoon" *ngIf="night" src="assets/night.jpg" />
    <p [ngClass]="{ white: night, temp: !night }">
      {{ tempreature | number: "1.0-0" }} &deg;
    </p>
  </div>
  <img class="big" *ngIf="night" src="assets/night_2.jpg" />
</div>
