<div class="all-element-here">
  <img class="sun" src="assets/sunny2.png" />

  <div class="center">
    <h1>Choose a city : <i class="far fa-grin-alt"></i></h1>
    <!--
  TODO:
كل عنصر في السيتيز => هسميه سيتي واعرضلي هذا السيتى وبس
[value]="city"ممكن اكتب كدهvalue="{{ city }}" بدل كده في الفاليو
-->
    <div class="select-container">
      <select (change)="selectCity($event)">
        <option disabled selected hidden>city</option>
        <option value="{{ city }}" *ngFor="let city of cities">
          {{ city }}
        </option>
      </select>
      <!-- <button (click)="goToEdit(food._id)" class="bt2 btn"> -->
      <br />
      <button class="myButton" (click)="goToCityInfo(nameOfSelectedCity)">
        Ok
      </button>
    </div>
  </div>
  <img class="moon" src="assets/moon.png" />
</div>
